@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: #222435
}

*:focus{
    outline: none;
}

h1{
    font-weight: 900;
    color: #7d83b9;
    text-align: center;
}

form{
    display: flex;
    position: relative;
    width: 600px;
    height: 60px;
    margin: 30px auto;
    margin-bottom: 60px;
}

input{
    display: flex;
    width: 100%;
    height: 60px;
    background:#2d3046;
    border:none;
    padding-left: 30px;
    font-size: 16px;
    border-radius: 15px;
    color: white;
}

button.add{
    position: absolute;
    top:0;
    right:0;
    background: #363b65;
    border: none;
    color: white;
    cursor:pointer;
    padding: 10px 25px;
    height: 62px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

button.add:hover{
    color: white;
    background: #363f88;
}

.workList{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 600px;
    margin: auto;
}

.item{
    display: flex;
    justify-content: space-between;
    border: 1px solid #363b65;
    margin-bottom: 10px;
    cursor: pointer;
}

.item:hover{
    background: #151627;
}

.item span{
    text-align: start;
    width: 100%;
    color: white;
    margin-right: 10px;
    padding: 10px 15px;
}

.item.completo{
    display: flex;
    justify-content: space-between;
    background: #1e1f2e;
    border:none;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.4;
}

.item.completo span{
    text-align: start;
    width: 100%;
    color: #4d506e;
    text-decoration: line-through;
    margin-right: 10px;
    padding: 10px 15px;
}

button.del{
    background: none;
    border: none;
    padding: 15px;
    color: #4d506e;
    cursor: pointer;
}

button.del:hover{
    background: #ff004c;
    border: none;
    padding: 15px;
    color: white;
    cursor: pointer;
}

button.delAll{
    border: 1px solid #ff004c;
    background: none;
    padding: 15px;
    color: #ff004c;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
}

button.delAll:hover{
    background: #ff004c;
    color: white;
}

@media  screen and (max-width: 900px) {
    form{
        width: 100%;
    }
    .workList{
        width: 100%;
    }
}